Repository Mirim-Study/Algorithm, pull requests merged in 2020-09, with the labels that each got.

#50 level01.직사각형 별찍기
  programmers/난이도별/level01.직사각형_별찍기/pppeum62.js
Labels: JavaScript

#51 level01.핸드폰 번호 가리기
  programmers/난이도별/level01.핸드폰_번호_가리기/pppeum62.js
Labels: JavaScript

#52 level01.가운데 글자 가져오기
  programmers/난이도별/level01.가운데_글자_가져오기/pppeum62.js
Labels: JavaScript

#53 level01.제일 작은 수 제거하기
  programmers/난이도별/level01.제일_작은_수_제거하기/pppeum62.js
Labels: JavaScript

#54 level01.평균_구하기
  programmers/난이도별/level01.평균_구하기/Suhyeon.java
Labels: JAVA

#55 level01.나누어 떨어지는 숫자 배열
  programmers/난이도별/level01.나누어_떨어지는_숫자배열/pppeum62.js
Labels: JavaScript

#56 level01.소수 찾기
  programmers/난이도별/level01.소수_찾기/areum.java
Labels: JAVA

#61 level01. 두 정수 사이의 합
  programmers/난이도별/level01.두_정수_사이의_합/suhyeon.java
Labels: JAVA

#60 level01.완주하지 못한 선수
  programmers/난이도별/level01.완주하지_못한_선수/pppeum62.js
Labels: JavaScript

#59 level01.정수 제곱근 판별
  programmers/난이도별/level01.정수_제곱근_판별/areum.js
Labels: JavaScript

#62 level01.문자열 내림차순으로 배치하기
  programmers/난이도별/level01.문자열_내림차순으로_배치하기/areum.js
Labels: JavaScript

#58 level01.이상한 문자 만들기
  programmers/난이도별/level01.이상한_문자_만들기/SSSOy.java
Labels: JAVA

#57 level01.콜라츠 추측
  programmers/난이도별/level01.콜라츠_추측/SSSOy.java
Labels: JAVA

#64 level03.있었는데요 없었습니다
  programmers/난이도별/level03.있었는데요_없었습니다/pppeum62.sql
Labels: SQL

#63 level01.동물의 아이디와 이름
  programmers/난이도별/level01.동물의_아이디와_이름/Suhyeon.sql
Labels: SQL

#67 level01.체육복
  programmers/난이도별/level01.체육복/areum.js
Labels: JavaScript

#66 level01.콜라츠 추측
  programmers/난이도별/level01.콜라츠_추측/areumsheep.js
Labels: JavaScript

#65 level04.보호소에서 중성화한 동물
  programmers/난이도별/level04.보호소에서_중성화한_동물/pppeum62.sql
Labels: SQL

#71 level03.있었는데요 없었습니다
  programmers/난이도별/level03.있었는데요_없었습니다/SSSOy.sql
Labels: SQL

#72 level01.문자열 내 p와 y의 개수
  programmers/난이도별/level01.문자열_내_p와_y의_개수/SSSOy.java
Labels: JAVA

#73 level01.하샤드 수
  programmers/난이도별/level01.하샤드_수/SSSOy.java
Labels: JAVA

#74 level04.보호소에서 중성화한 동물
  programmers/난이도별/level04.보호소에서_중성화한_동물/areumsheep.sql
Labels: SQL

#68 level01.상위_n개_레코드
  programmers/난이도별/level01.상위_n개_레코드/Suhyeon.sql
Labels: SQL

#69 level02.입양_시각_구하기(1)
  programmers/난이도별/level02.입양_시각_구하기(1)/Suhyeon.sql
Labels: SQL

#70 level02.이름에_el이_들어가는_동물_찾기
  programmers/난이도별/level02.이름에_el이_들어가는_동물_찾기/Suhyeon.sql
Labels: SQL

#76 level03.없어진 기록 찾기
  programmers/난이도별/level03.없어진_기록_찾기/pppeum62.sql
Labels: SQL

#75 level01.크레인 인형뽑기 게임
  programmers/난이도별/level01.크레인_인형뽑기_게임/yoojinhee03.java
Labels: JAVA

#78 level2.루시와 엘라 찾기
  programmers/난이도별/level02.루시와_엘라_찾기/areumsheep.sql
Labels: SQL

#77 level03.있었는데요_없었습니다
  programmers/난이도별/level03.있었는데요_없었습니다/Suhyeon.sql
Labels: SQL

#80 level03.오랜 기간 보호한 동물(1)
  programmers/난이도별/level03.오랜_기간_보호한_동물(1)/pppeum62.sql
Labels: SQL

#81 level01.최솟값 구하기
  programmers/난이도별/level01.최솟값_구하기/yoojinhee03.sql
Labels: SQL

#82 level01.가운데 글자 가져오기
  programmers/난이도별/level01.가운데_글자_가져오기/yoojinhee03.java
Labels: JAVA

#83 level01.제일 작은 수 제거하기
  programmers/난이도별/level01.제일_작은_수_제거하기/SSSOy.java
Labels: JAVA

#85 level02.NULL_처리하기
  programmers/난이도별/level02.NULL_처리하기/Suhyeon.sql
Labels: SQL

#86 level01.같은 숫자는 싫어
  programmers/난이도별/level01.같은_숫자는_싫어/yoojinhee03.java
Labels: JAVA

#88 level01.두 정수 사이의 합
  programmers/난이도별/level01.두_정수_사이의_합/yoojinhee03.java
Labels: JAVA

#87 level01.동물의 아이디와 이름
  programmers/난이도별/level01.동물의_아이디와_이름/yoojinhee03.sql
Labels: SQL

#90 level01.문자열 내 마음대로 정렬하기
  programmers/난이도별/level01.문자열_내_마음대로_정렬하기/areum.js
Labels: JavaScript

#92 level01.모의고사
  programmers/난이도별/level01.모의고사/yoojinhee03.java
Labels: JAVA

#94 level01.문자열 내 p와 y의 개수
  programmers/난이도별/level01.문자열_내_p와_y의_개수/yoojinhee03.java
Labels: JAVA

#79 level01.키패드 누르기
  programmers/난이도별/level01.키패드_누르기/SSSOy.java
Labels: JAVA

#89 level01.핸드폰 번호 가리기
  programmers/난이도별/level01.핸드폰_번호_가리기/SSSOy.java
Labels: JAVA

#91 level03.없어진 기록 찾기
  programmers/난이도별/level03.없어진_기록_찾기/SSSOy.sql
Labels: SQL

#84 level01.루시와_엘라_찾기
  programmers/난이도별/level02.루시와_엘라_찾기/Suhyeon.sql
Labels: SQL

#100 level03.오랜 기간 보호한 동물(2)
  programmers/level03.오랜_기간_보호한_동물(2)/pppeum62.sql
Labels: SQL

#98 level01.시저 암호
  programmers/난이도별/level01.시저_암호/SSSOy.java
Labels: JAVA

#97 level01.비밀지도
  programmers/난이도별/level01.비밀지도/areumsheep.js
  programmers/난이도별/level02.최댓값과_최솟값/areumsheep.js
Labels: JavaScript

#101 level_04.우유와 요거트가 담긴 장바구니
  programmers/난이도별/level04.우유와_요거트가_담긴_장바구니/SSSOy.sql
Labels: SQL

#93 level01.수박수박수박수박수박수
  programmers/난이도별/level01.수박수박수박수박수박수/sokkanji.js
Labels: JavaScript

#103 level01.짝수와 홀수
  programmers/난이도별/level01.짝수와_홀수/SSSOy.java
Labels: JAVA

#105 level01.실패율
  programmers/난이도별/level01.실패율/SSSOy.java
Labels: JAVA

#107 level01.서울에서_김서방_찾기
  programmers/난이도별/level01.서울에서_김서방_찾기/Suhyeon.js
Labels: JavaScript

#102 level01. 서울에서_김서방_찾기
  programmers/난이도별/level01.서울에서_김서방_찾기/yeeun.js
Labels: JavaScript

#104 level01.콜라츠_추측
  programmers/난이도별/level01.콜라츠_추측/yeeun.js
Labels: JavaScript

#106 level01.행렬의 덧셈
  programmers/난이도별/level01.행렬의_덧셈/yoojinhee03.java
Labels: JAVA

#109 level01.같은 숫자는 싫어
  programmers/난이도별/level01.같은_숫자는_싫어/SSSOy.java
Labels: JAVA

#110 level01.자릿수 더하기
  programmers/난이도별/level01.자릿수_더하기/SSSOy.c
Labels: C

#111 level01.모의고사
  programmers/난이도별/level01.모의고사/areumsheep.js
Labels: JavaScript

#108 level04.보호소에서 중성화한 동물
  programmers/난이도별/level04.보호소에서_중성화한_동물/SSSOy.sql
Labels: SQL

#113 level02.전화번호_목록
  programmers/난이도별/level02.전화번호_목록/SSSOy.java
Labels: JAVA

#114 level01.예산
  programmers/난이도별/level01.예산/areumsheep.js
Labels: JavaScript

#112 level02.JadenCase 문자열 만들기
  programmers/난이도별/level02.JadenCase_문자열 만들기/SSSOy.java
Labels: JAVA

#96 깃허브 프로필 이미지 추가
  README.md
Labels: 건의사항

#117 level01.두 개 뽑아서 더하기
  programmers/난이도별/level01.두_개_뽑아서_더하기/SSSOy.java
Labels: JAVA

#118 level01.x만큼 간격이 있는 n개의 숫자
  programmers/난이도별/level01.x만큼_간격이_있는_n개의_숫자/SSSOy.java
Labels: JAVA

#119 level02.JadenCase 문자열 만들기
  programmers/난이도별/level02.JadenCase_문자열 만들기/areumsheep.js
Labels: JavaScript

#116 level01.콜라츠_추측
  programmers/난이도별/level01.콜라츠_추측/Suhyeon.js
Labels: JavaScript

#123 level01.아픈 동물 찾기
  programmers/난이도별/level01.아픈_동물_찾기/yoojinhee03.sql
Labels: SQL

#121 level01.서울에서 김서방 찾기
  programmers/난이도별/level01.서울에서_김서방_찾기/SSSOy.java
Labels: JAVA

#120 level01.평균 구하기
  programmers/level01.평균_구하기/SSSOy.java
Labels: JAVA

#122 level01.최대공약수와 최소공배수
  programmers/난이도별/level01.최대공약수와_최소공배수/SSSOy.java
Labels: JAVA

#115 level02.고양이와_개는_몇_마리_있을까
  programmers/난이도별/level02.고양이와_개는_몇_마리_있을까/yeeun.sql
Labels: SQL

#127 level02.null 처리하기
  programmers/난이도별/level02.NULL_처리하기/yoojinhee03.sql
Labels: SQL

#125 level02.올바른 괄호
  programmers/난이도별/level02.올바른_괄호/areumsheep.js
Labels: JavaScript

#126 level02.영어 끝말잇기
  programmers/난이도별/level02.영어_끝말잇기/SSSOy.java
Labels: JAVA

#128 level02.[1차] 뉴스 클러스터링
  programmers/난이도별/level02.[1차]_뉴스_클러스터링/SSSOy.java
Labels: JAVA

#129 level01.예산
  programmers/난이도별/level01.예산/SSSOy.java
Labels: JAVA

#130 level01.행렬의 덧셈
  programmers/난이도별/level01.행렬의_덧셈/SSSOy.java
Labels: JAVA

#132 level01.완주하지 못한 선수
  programmers/난이도별/level01.완주하지_못한_선수/yoojinhee03.java
Labels: JAVA

#131 level01.크레인 인형뽑기 게임
  programmers/난이도별/level01.크레인_인형뽑기_게임/SSSOy.java
Labels: JAVA

#133 level01.정수 내림차순으로 배치하기
  programmers/난이도별/level01.정수_내림차순으로_배치하기/SSSOy.java
Labels: JAVA

#134 level02.최댓값과 최솟값
  programmers/난이도별/level02.최댓값과_최솟값/SSSOy.java
Labels: JAVA

#136 level03.오랜 기간 보호한 동물(1)
  programmers/난이도별/level03.오랜_기간_보호한_동물(1)/SSSOy.sql
Labels: SQL

#135 level01.두 개 뽑아서 더하기
  programmers/난이도별/level01.두_개_뽑아서_더하기/areumsheep.js
Labels: JavaScript

#137 level01.[1차] 비밀지도
  programmers/난이도별/level01.[1차]_비밀지도/SSSOy.java
Labels: JAVA

#138 level01.자연수 뒤집어 배열로 만들기
  programmers/난이도별/level01.자연수_뒤집어_배열로_만들기/SSSOy.java
Labels: JAVA

#140 level02.이름에 el이 들어가는 동물 찾기
  programmers/난이도별/level02.이름에_el이_들어가는_동물_찾기/areumsheep.sql
Labels: SQL

#141 level01.나누어 떨어지는 숫자 배열
  programmers/난이도별/level01.나누어_떨어지는_숫자배열/SSSOy.java
Labels: JAVA

#143 level02.중성화 여부 파악하기
  programmers/난이도별/level02.중성화_여부_파악하기/areumsheep.sql
Labels: SQL

#139 level01.완주하지_못한_선수
  programmers/난이도별/level01.완주하지_못한_선수/sokkanji.js
Labels: JavaScript

#142 level02.루시와_엘라_찾기
  programmers/난이도별/level02.루시와_엘라_찾기/sokkanji.sql
Labels: SQL

#147 level02.DATETIME에서 DATE로 형 변환
  programmers/난이도별/level02.DATETIME에서_DATE로_형_변환/areumsheep.sql
Labels: Oracle

#144 level01.[1차] 다트 게임
  programmers/난이도별/SSSOy.java
Labels: JAVA

#145 level01.수박수박수박수박수박수?
  programmers/난이도별/level01.수박수박수박수박수박수/SSSOy.java
Labels: JAVA

#146 level01.두 정수 사이의 합
  programmers/난이도별/level01.두_정수_사이의_합/SSSOy.java
Labels: JAVA

#148 level01.동물의 아이디와 이름
  programmers/난이도별/level01.동물의_아이디와_이름/areumsheep.sql
Labels: SQL

#149 level01.약수의 합
  programmers/난이도별/level01.약수의_합/SSSOy.java
Labels: JAVA

#150 level01.완주하지 못한 선수
  programmers/난이도별/level01.완주하지_못한_선수/SSSOy.java
Labels: JAVA

#151 level02.NULL 처리하기
  programmers/난이도별/level02.NULL_처리하기/SSSOy.sql
Labels: SQL

#152 level02.프린터
  programmers/난이도별/level02.프린터/SSSOy.java
Labels: JAVA

#153 level01.2016년
  programmers/난이도별/level01.2016년/SSSOy.java
Labels: JAVA

#154 level03.없어진 기록 찾기
  programmers/난이도별/level03.없어진_기록_찾기/areumsheep.sql
Labels: OracleSQL

#161 level02.동명 동물 수 찾기
  programmers/난이도별/level02.동명_동물_수_찾기/pppeum62.sql
Labels: OracleSQL

#155 level01.K번째수
  programmers/난이도별/level01.K번째수/SSSOy.java
Labels: JAVA

#157 level02.동명 동물 수 찾기
  programmers/난이도별/level02.동명_동물_수_찾기/SSSOy.sql
Labels: OracleSQL

#159 level02.입양 시각 구하기(1)
  programmers/난이도별/level02.입양_시각_구하기(1)/pppeum62.sql
Labels: MySQL

#160 level02.고양이와 개는 몇 마리 있을까
  programmers/난이도별/level02.고양이와_개는_몇_마리_있을까/pppeum62.sql
Labels: OracleSQL

#166 level03.있었는데요 없었습니다
  programmers/난이도별/level03.있었는데요_없었습니다/areumsheep.sql
Labels: OracleSQL

#165 level01.정수 제곱근 판별
  programmers/난이도별/level01.정수_제곱근_판별/SSSOy.java
Labels: JAVA
