Repository Mirim-Study/Algorithm, pull requests merged in 2021-02, with the labels that each got.

#280 level01.직사각형 별찍기
  programmers/난이도별/level01.직사각형_별찍기/SSSOy.py
Labels: Python

#242 level01.완주하지_못한_선수
  programmers/난이도별/level01.완주하지_못한_선수/devSOWON0628.java
Labels: JAVA

#246 7.단어의 개수
  baekjoon/단계별로_풀어보기/07.문자열/06.단어의 개수/dayomi02.c
Labels: C

#249 level01.체육복
  programmers/난이도별/level01.체육복/devSOWON0628.java
Labels: JAVA

#253 7.상수
  baekjoon/단계별로_풀어보기/07.문자열/07.상수/dayomi02.c
Labels: C

#274 level01.두 정수 사이의 합
  programmers/난이도별/level01.두_정수_사이의_합/JiaLee0707.java
Labels: JAVA

#277 level01.짝수와 홀수
  programmers/난이도별/level01.짝수와_홀수/JiaLee0707.java
Labels: JAVA

#285 level02.동물 수 구하기
  programmers/난이도별/level02.동물_수_구하기/SSSOy.sql
Labels: OracleSQL

#278 level01.약수의 합
  programmers/난이도별/level01.약수의_합/JiaLee0707.java
Labels: JAVA

#283 level01.3진법 뒤집기
  programmers/난이도별/level01.3진법_뒤집기/SSSOy.py
Labels: Python

#284 level02.행렬의 곱셈
  programmers/난이도별/level02.행렬의_곱셈/SSSOy.java
Labels: JAVA

#282 level01.여러_기준으로_정렬하기
  programmers/난이도별/level01.여러_기준으로_정렬하기/Suhyeon.sql
Labels: MySQL

#287 level01.소수 찾기
  programmers/난이도별/level01.소수_찾기/SSSOy.py
Labels: Python

#286 level01.완주하지 못한 선수
  programmers/난이도별/level01.완주하지_못한_선수/JiaLee0707.java
Labels: JAVA

#289 level02.다리를 지나는 트럭
  programmers/난이도별/level02.다리를_지나는_트럭/SSSOy.java
Labels: JAVA

#288 level01.평균_구하기
  programmers/난이도별/level01.평균_구하기/JiaLee0707.java
Labels: JAVA

#290 level01.최대공약수와 최소공배수
  programmers/난이도별/level01.최대공약수와_최소공배수/SSSOy.py
Labels: Python

#293 level02.다음 큰 숫자
  programmers/난이도별/level02.다음_큰_숫자/SSSOy.py
Labels: Python
