Repository Mirim-Study/Algorithm, pull requests merged in 2021-10, with the labels that each got.

#382 level01.같은 숫자는 싫어
  programmers/난이도별/level01.같은_숫자는_싫어/pppeum62.java
Labels: JAVA

#383 level 01.서울에서 김서방 찾기
  programmers/난이도별/level01.서울에서_김서방_찾기/Moon-HyeKyung.js
Labels: JavaScript

#384 level 01.이름이 있는 동물의 아이디
  programmers/난이도별/level01.이름이_있는_동물의_아이디/Moon-HyeKyung.sql
Labels: MySQL

#379 level 01.나누어 떨어지는 숫자 배열
  programmers/난이도별/level01.나누어_떨어지는_숫자배열/Moon-Hyekyung.js
Labels: JavaScript

#387 level01.부족한 금액 계산하기
  programmers/난이도별/level01.부족한_금액_계산하기/pppeum62.java
Labels: JAVA

#377 level02.괄호 회전하기
  programmers/난이도별/level02.괄호_회전하기/SSSOy.java
Labels: JAVA
