Repository Mirim-Study/Algorithm, pull requests merged in 2022-05, with the labels that each got.

#485 level01.평균 구하기
  programmers/난이도별/level01.평균_구하기/Leemainsw.js
Labels: JavaScript

#483 3460번: 이진수
  baekjoon/3460.이진수/pppeum62.java
Labels: JAVA, 추천 문제

#487 1085번: 직사각형에서 탈출
  baekjoon/1085.직사각형에서_탈출/pppeum62.java
Labels: JAVA
